name: contacts_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  faker: ^2.2.0
  provider: ^6.1.5+1
  sqflite: ^2.4.2
  flutter_slidable: ^4.0.3
  image_picker: ^1.2.0
  google_nav_bar: ^5.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/key.png
 
